@media (min-width: 1200px) {
	.navbar-brand {
		margin-right: 170px!important;
	}
}

@media (max-width: 1199px) {
	h4 {
		font-size: 28px;
	}

	header p {
		font-size: 26px;
		max-width: 400px;
	}
}


@media (max-width: 991px) {
	.carousel-caption {
		top: 15%;
	}

	header .btn-dark {
		margin-top: 5%;
		width: 360px;
		padding: 10px;
		font-size: 16px
	}

	.about h3 {
		margin-top: 40px;
	}

	.plans-logo {
		font-size: 200px;
	}

	footer form {
		margin-top: 40px;
		text-align: center;
	}
}


@media (max-width: 768px) {
	h4 {
		font-size: 22px;
	}

	header p {
		font-size: 18px;
		line-height: 30px;
		max-width: 400px;
	}
	.carousel-caption {
		top: 10%;
	}

	header .btn-dark {
		margin-top: 5%;
		width: 300px;
		padding: 7px;
		font-size: 14px
	}

	h1 {
		font-size: 120px;
		margin-top: 190px;
	}

	.plans-logo {
		font-size: 120px;
	    margin: 50px auto;
	}
}


@media (max-width: 576px) {
	h4 {
		font-size: 18px;
	}

	header p {
		font-size: 16px;
		line-height: 24px;
		max-width: 100%;
	}

	h1 {
		font-size: 78px;
		line-height: 95px;
	}

	.block-inner {
		padding-left: 40px;
	}
}


@media (max-width: 480px) {
	.navbar-brand {
		margin-right: auto!important;
		font-size: 32px;
	}
	
	h4 {
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 0;
	}

	header p {
		font-size: 14px;
		line-height: 18px;
		max-width: 100%;
	}

	.carousel-caption {
		top: 8%;
	}

	.find-work .btn-dark {
		width: 300px;
	}

	header .btn-dark {
		padding: 4px;
		font-size: 12px;
		width: 200px;
	}

	.about {
		padding: 70px 0;
	}

	.about h3 {
	    font-size: 36px;
    	line-height: 36px;
	}

	.about h5 {
		font-size: 24px;
	}

	.about p {
		font-size: 18px;
	}

	.about p span {
		font-size: 22px;
	}

	h1 {
		font-size: 45px;
    	line-height: 55px;
	}

	select, .find-work label {
		font-size: 23px;
    	line-height: 30px;
	}

	.plans-logo {
		font-size: 80px;
    	margin: 35px auto;
	}

	h2 {
	    font-size: 42px;
	    padding-top: 39px;
	}

	.lead {
		font-size: 25px;
    	margin-top: 0px;
	}

	.plans p {
		font-size: 16px;
    	line-height: 22px;
	}

	.btn-info {
	    font-size: 16px;
	}

	footer .form-group, footer .btn {
		display: block;
	}	

	footer .btn {
		margin: 20px auto;
	}

	.select_opt::after {
		top: 48px;
	}
}


@media (max-width: 375px) {
	h4 {
		line-height: 16px;
		padding-bottom: 0;
	}

	header p {
		line-height: 16px;
	}

	.carousel-caption {
		top: 5%;
	}

	header .btn-dark {
		margin-top: -10px;
	}

}