body {
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

	/*header start*/
.bg-dark nav {
	z-index: 20000;
}

.bg-white nav {
	z-index: 10000;
}

.bg-dark .navbar-toggler {
	color: #fff;
}

#login-nav .nav-item {
	padding: 0 5px;
}

.bg-dark .nav-item {
	border-right: 1px solid #17202a;
}

#login-nav .nav-link i {
	margin-right: 10px;
}

.register,
.navbar-brand span {
	color: #1dd2af;	
}

.nav-social .nav-item:first-child {
	border-left: 1px solid #17202a;
}

.dropdown-menu {
	padding: 8px;
	
}

.dropdown-menu input {
	margin: 0!important;
	width: auto;
}

.dropdown-menu .btn {
	margin: 10px auto 0 auto;
} 

.dropdown-menu .btn-primary:hover,
.dropdown-menu .btn-primary:focus {
	border-color: #2c3e50;
	color: #2c3e50;
} 

.bg-white .dropdown-toggle {
	color: #2c3e50;
	font-size: 20px;
	border: 2px solid #2c3e50;
	border-radius: 50%;
}

/*header end*/


/*head start*/
.carousel-caption {
	top: 0;
	left: 0;
	padding-top: 15%;
	width: 100%;
	height: 100%;
	background-color: rgba(44, 62, 80, 0.8);
}

.carousel-item .btn-primary,
.carousel-item .btn-outline-secondary {
	margin-top: 47px;
	text-transform: uppercase;
}

.carousel-item .btn-primary {
	margin-right: 14px;
}

.carousel-item .btn-outline-secondary {
	margin-left: 14px;
}

/*head end*/


/*holidays start*/
h3 span {
	font-size: 20px;
	font-weight: 400;
}

input {
	margin: 0 25px;
}

.holidays {
	border-top: 1px solid #3a4e61;
}

.holidays input {
	border-radius: 0!important;
}

h3 {
	border-right: 1px solid #3a4e61;
	margin-bottom: 0;
	padding: 5px;
}

.holidays row {
	position: relative;
}

h3 {
	position: relative;
	border-right: 1px solid #3a4e61;
}

h3:after, h3:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

h3:after {
	border-color: rgba(44, 62, 80, 0);
	border-left-color: #2c3e50;
	border-width: 14px;
	margin-top: -14px;
	    margin-left: -1px;
}
h3:before {
	border-color: rgba(58, 78, 97, 0);
	border-left-color: #3a4e61;
	border-width: 15px;
	margin-top: -15px;
}

.holidays .btn-primary {
	font-size: 20px;
	padding: 7px 20px;
	border-radius: 0;
}

/*holidays end*/


/*offers start*/
.offers {
	padding: 87px 0 100px 0;
}

.offers .row:nth-child(2) {
	margin-top: 90px;
}

.owl-carousel .owl-stage-outer {
	padding-top: 15px;
	height: 300px;
}

.offers .card {
	width: 270px;
	background-color: #eeeeee;
	border: 5px solid #eeeeee;
	margin: auto;
}

.offers .card:hover {
	height: 300px;
	margin-top: -15px;
	background-color: #2c3e50;
	border: 5px solid #1dd2af;
}

.offers .card:hover p {
	color: #fff;
}

.offers .card:hover p small {
	color: #8899a8;
}


.offers p {
	color: #626262;
	font-size: 15px;
	font-weight: 400;
	line-height: 17.2px;
	margin-top: 10px;
}

.offers p small {
	font-size: 13px;
}

.offers .card-body {
	position: relative;
	padding: 10px;
}

.offers .card-body i {
	position: absolute;
	top: 40%;
	right: 15px;
	z-index: 10;
	color: #9fb0c0;
	font-size: 20px;
}

.card-img-top {
	height: 193px;
	width: 268px;
	overflow: hidden;
}

/*offers end*/

/*holidays type start*/
.holidays_type {
	background-image: url("../img/holidays-bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50%;
	position: relative;
	padding-top: 70px;
	padding-bottom: 100px;
}

.holidays_type_header {
	margin-bottom: 110px;
	color: #9eafc0;
}

.holidays_type_header h2 {
	color: #fff;
}

.holidays_option a {
	display: inline-block;
	background-repeat: no-repeat;
	border: 4px solid #fff;
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.holidays_option a:hover {
	border-color: #1dd2af;
}

.holidays_option p {
	color: #9eafc0;
	font-size: 20px;
}

.holidays_option a:hover+p {
	color: #1dd2af;
}

#h_option1 {
	background-image: url("../img/holidays/img-1.png");
	background-position: 36px 17px;
}

#h_option1:hover {
	background-position: -133px 17px;
}

#h_option2{
	background-image: url("../img/holidays/img-2.png");
	background-position: 41px 25px;
}

#h_option2:hover{
	background-position: -137px 24px;
}

#h_option3 {
	background-image: url("../img/holidays/img-3.png");
	background-position: 31px 15px;
}

#h_option3:hover {
	background-position: -119px 15px;
}

#h_option4 {
	background-image: url("../img/holidays/img-4.png");
	background-position: 26px 28px;
}

#h_option4:hover {
	background-position: -122px 28px;
}

#h_option5 {
	background-image: url("../img/holidays/img-5.png");
	background-position: 30px 22px;
}

#h_option5:hover {
	background-position: -124px 22px;
}

#h_option6 {
	background-image: url("../img/holidays/img-6.png");
	background-position: 19px 6px;
}

#h_option6:hover {
	background-position: -125px 6px;
}

/*holidays type end*/

/*clients start*/
.clients {
	padding-top: 69px;
	padding-bottom: 30px;
}

.clients .owl-carousel {
	margin-top: 45px;
}

blockquote {
	color: #4d4d4d;
	font-size: 15px;
	line-height: 20px;
	padding: 25px;
	position: relative;
	background: #fff;
	border: 1px solid #dedede;
}
blockquote:after, blockquote:before {
	top: 100%;
	left: 75%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

blockquote:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
blockquote:before {
	border-color: rgba(222, 222, 222, 0);
	border-top-color: #dedede;
	border-width: 31px;
	margin-left: -31px;
}

blockquote footer {
	color: #1dd2af;
	background-color: inherit;
	font-size: 18px;
	line-height: 25px;
}

blockquote footer small {
	display: block;
	color: #b2b2b2;
	font-size: 13px;
	line-height: 25px;
}


.clients .owl-item {
	opacity: 0.5;
	
}

.clients .owl-item:hover, .clients .owl-item.center  {
	opacity: 1;
}

.clients .owl-item.center blockquote {
	border-top: 5px solid #1dd2af;
}
/*clients end*/


/*footer start*/
footer {
	background-color: #2c3e50;
}

footer p {
	color: #ffffff;
	font-size: 13px;
	line-height: 22px;
}

footer input, footer button{
	max-height: 33px;
	border-radius: 3px;
	margin: 0;
}

footer input {

}

footer .btn {
	margin-left: 3.333%;
	padding: 4px;
	text-transform: uppercase;
	font-size: 15px;
}

footer .col-lg-3 {
	padding-right: 50px;
}

footer .row:first-child {
	padding-bottom: 60px;
}


.latest_news p {
	margin-bottom: 0!important;
	padding-left: 15px;
}

.latest_news .date {
	color: #1dd2af;
	font-weight: 300;
}

.latest_news img {
	border: 1px solid #fff;
	padding: 5px;
	margin-top: 5px;
}

.latest_news .d-flex {
	margin-top: 10px;
}

.latest_news a:hover {
	text-decoration: none;
}

a.badge {
	color: #fff;
	font-size: 13px;
	border: 1px solid #fff;
	border-radius: 0;
	padding: 7px;
	margin: 5px;
}

a.badge:hover,
a.badge:focus {
	color: #fff;
	background-color: #1dd2af;
	border-color: #1dd2af;
}

.address p span {
	color: #1dd2af;
}


footer ul {
	margin: auto;
}

footer .nav-link {
	color: #fff;
	font-size: 15px;
	padding: 0.5rem;
}

footer .nav-link:not(.contact):after {
	content: "::";
	padding-left: 0.5rem;
}

footer .nav-link.active,
footer .nav-link:hover,
footer .nav-link:focus {
	color: #1dd2af;
}

.copyright {
	color: #9dafc0;
	font-size: 13px;
	padding-top: 15px;
	margin: auto;
}


.up {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #1dd2af;
	position: relative;
	margin: 45px auto 0 auto;
}

.up,
.up:hover,
.up:focus {
	color: #fff;
}

.up i {
	position: absolute;
	bottom: -31px;
	left: -7px;
}

/*footer end*/
