body {
	font-family: 'Poppins', sans-serif;
}
main {
	overflow: hidden;
}

.medias .nav-link {
	font-size: 20px;
}

	/* Header star*/
header {
	background-image: url("../img/background.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
}

header .container-fluid {
	background-color: rgba(0, 0, 0, 0.7);
}

nav {
	padding-top: 35px!important;
}

.navbar-brand {
	color: #fff!important;
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -1.2px;
}

.navbar-brand span {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.72px;
	padding-left: 30px;
}

header .container {
	/*height: 100vh;*/
}

.header-top-text {
	color: #fff;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-top: 155px;
	margin-bottom: 45px;
}

.header-top-text span {
	font-family: "Playfair Display";
}

header .btn {
	margin-top: 85px;
	margin-bottom: 152px;
}
	/* Header end*/

	/* About star*/
.about {
	background-color: #656967;
	background-image: -webkit-linear-gradient(bottom left, #fd3fb3 0%, #fd3f81 30%, #fd3e4f 79%, #fd3e4f 100%);
	background-image: -o-linear-gradient(bottom left, #fd3fb3 0%, #fd3f81 30%, #fd3e4f 79%, #fd3e4f 100%);
	background-image: linear-gradient(to top right, #fd3fb3 0%, #fd3f81 30%, #fd3e4f 79%, #fd3e4f 100%);
}

.about h2 {
	margin-top: 80px;
	margin-bottom: 70px;
	color: #fff;
}

.about .btn-outline-danger {
	margin-top: 30px;
	margin-bottom: 80px;
}

.about .btn-outline-danger i {
	margin-left: 29px;
}
	/* Abour end*/

	/* Process star*/
.process p {
	color: #7b7b7b;
	font-family: "Playfair Display";
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.28px;
}

.process h4 {
	margin-bottom: 30px;
	color: #5c5c5c;
}

.process-block {
	padding-top: 107px;
	padding-bottom: 108px;
	position: relative;
	transition: all 0.7s ease;
}

.process-block:hover {
	background-image: -webkit-linear-gradient(bottom left, #fd3e4f 0%, #fd3f81 60%, #fd3fb3 100%);
	background-image: -o-linear-gradient(bottom left, #fd3e4f 0%, #fd3f81 60%, #fd3fb3 100%);
	background-image: linear-gradient(to top right, #fd3e4f 0%, #fd3f81 60%, #fd3fb3 100%);
	padding-top: 65px;
	padding-bottom: 70px;
}

.process-block:hover p,
.process-block:hover h4 {
	color: #fff;
}

.process-block:hover .number {
	position: static;
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: -1.2px;
	padding-bottom: 29px;
	opacity: 1;
	
}

.process-block .number {
	position: absolute;
	top: 145px;
	opacity: 0.15;
	color: #fd3f81;
	font-size: 120px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: -2.4px;
}
	/* Precess end*/

	/* Team star*/
.team {
	padding-bottom: 70px;
}

.team .card-body {
	padding-bottom: 8px;
}

.team h2 {
	color: #222222;
	padding-top: 82px;
	padding-bottom: 89px;
}

.team p {
	color: #9a9a9a;
	font-family: "Playfair Display";
	font-size: 16px;
	letter-spacing: -0.96px;
}

.team .medias {
	display: none;
}

.team .card-wrapper {
	height: 100%;
	cursor: pointer;
}

.team .card-wrapper:hover .card-body {
	background-image: -webkit-linear-gradient(bottom, rgba(253, 63, 179, 0.85) 0%, rgba(253, 63, 129, 0.85) 30%, rgba(253, 62, 79, 0.85) 79%, rgba(253, 62, 79, 0.85) 100%);
	background-image: -o-linear-gradient(bottom, rgba(253, 63, 179, 0.85) 0%, rgba(253, 63, 129, 0.85) 30%, rgba(253, 62, 79, 0.85) 79%, rgba(253, 62, 79, 0.85) 100%);
	background-image: linear-gradient(to top, rgba(253, 63, 179, 0.85) 0%, rgba(253, 63, 129, 0.85) 30%, rgba(253, 62, 79, 0.85) 79%, rgba(253, 62, 79, 0.85) 100%);;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 204px;
}

.team .card-wrapper:hover {
	padding-bottom: 103px;
}

.team .card-wrapper:hover .medias {
	display: block;
}

.team .medias .nav-link:hover,
.team .medias .nav-link:focus {
	color: #fff!important;
}

.team .card-wrapper:hover h4,
.team .card-wrapper:hover p {
	color: #fff;
}
	/* Team end*/

	/* Solutions star*/
.laptop {
	position: absolute;
	right: 65px;
    top: -482px;
}

.laptop img {
	max-width: 760px;
}

.solutions {
	padding-top: 100px;
	padding-bottom: 130px;
	overflow: hidden;

}

.solutions .btn {
	margin-top: 50px;
	box-shadow: 0 13px 50px rgba(35, 31, 32, 0.2);
}
	/* Solutions end*/

.solutions h2,
.possibilites h2 {
	color: #222222;
	margin-bottom: 60px;
}

.solutions h2 span,
.possibilites h2 span,
.services h2 span {
	color: #fd3e4f;
}

.solutions p,
.possibilites p {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.4px;
	color: #717171;
}

	/* Possibilites start*/
.possibilites {
	background-color: #f4f4f4;
	padding-top: 200px;
	padding-bottom: 157px;
	
}

.cards-wrapper {
	position: relative;
}

.cards {
	position: absolute;
	max-width: 1000px;
	top: -290px;
    left: -50px;
}
	/* Possibilites end*/

	/* Services start*/
.services {
	background-color: #222222;
	padding-top: 118px;
	padding-bottom: 123px; 
}

.services h2 {
	color: #fff;
	padding-top: 30px;
}

.services .main-text {
	color: #dfdfdf;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.4px;
	padding-top: 30px;
}

.services i {
	color: #fd3f81;
	font-size: 49px;
}

.services h4 {
	color: #fff;
}

.services p {
	color: #e1e1e1;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.84px;
}

.services .info {
	padding-left: 50px;
}
	/* Services end*/

	/* Footer start*/
footer {
	padding-bottom: 52px;
	padding-top: 86px;
	background-image: url(../img/footer-bg.jpg);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

.footer-logo {
	color: #222222;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: -1px;
}

.footer-logo span {
	color: #fd3f81;
	font-size: 80px;
	font-weight: 700;
	letter-spacing: -3.2px;
	line-height: 30px;
}

footer p, footer .new {
	color: #222222;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -0.84px;
}

footer p {
	padding-top: 22px;
	padding-bottom: 25px;
}

footer .main-text  {
	color: #525151;
	margin-top: 56px;
}

footer .new span {
	color: #fd3e4f;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.96px;
}

footer i {
	color: #fd3f81;
}

footer .email,
footer .phone {
	color: #222222;
	font-size: 12px;
	letter-spacing: -0.72px;
	position: relative;
	padding-left: 30px;
	margin-bottom: 13px;
}

footer .email i,
footer .phone i {
	font-size: 25px;
	position: absolute;
	left: 0;
	top: -7px;
	
}

footer .medias {
	margin-top: 33px;
}

footer .medias .nav-link:first-child {
	padding: .5rem 0;
	margin-right: 35px;
}

.copyright {
	margin-top: 117px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.84px;
	color: #fd3f81;
}
	/* Footer end*/

@supports (-webkit-text-fill-color: transparent) and (-webkit-background-clip: text) {
	.copyright, .footer-logo span {
		background-image: -webkit-linear-gradient(bottom left, #fd3fb3 0%, #fd3f81 30%, #fd3e4f 79%, #fd3e4f 100%);
		background-image: -o-linear-gradient(bottom left, #fd3fb3 0%, #fd3f81 30%, #fd3e4f 79%, #fd3e4f 100%);
		background-image: linear-gradient(to top right, #fd3fb3 0%, #fd3f81 30%, #fd3e4f 79%, #fd3e4f 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #fff;
	}
}